.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 30%;
}
h4{
    color: #fff;
    text-align: center;
    margin: 10px  0 20px 0;
}
@media screen and (max-width:550px){
    img{
        width: 350px;
        height: 350px;
    }
}
@media screen and (max-width:368px){
    img{
        width: 250px;
        height: 250px;
    }
}