.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
img{
    max-width: 600px;
    max-height: 500px;
}
h4{
    color: #fff;
    text-align: center;
    margin: 50px 0;
}